<% if current_user == @user %>

  <h1> Welcome to your page <%= @user.username %> </h1>

  <%= render 'profile' %>

  <h2>Create a new Post: </h2>

  <%= simple_form_for @post do |f|%>
    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.button :submit %>
    <%= f.input :picture, :as => :file, accept: 'image/jpeg,image/gif,image/png' %>
  <% end %>



<div class="inline">
  <h2> Here are your posts: </h2>
  <%= render @posts %>
</div>

<div class="inline">
  <h2> Here is your feed: </h2>
  <%= render 'posts_feed' %>
</div>

  <h2> Here are your friends(<%= @user.friends.count %>): </h2>
  <ul>
    <% @user.friends.each do |friend| %>
    <li> <%= link_to friend.username, friend %>,
         <%= link_to "Delete Friend",
             friend_request_path(current_user.find_associated_friend_request(friend)[0].id),
             method: :delete,
             data: {confirm: "Are you sure?"} %>
    <% end %>
  </ul>

  <h2> Here are your pending friend requests(<%= @user.pending_requests.count %>): </h2>
    <% @user.pending_requests.each do |request| %>
    <%= link_to request.requestor.username, request.requestor %>
      <ul>
        <li> <%= link_to "See full request details", request %> </li>
        <li> <%= link_to "Accept", friend_request_path(request), method: :patch %> </li>
        <li> <%= link_to "Decline", friend_request_path(request), method: :delete %> </li>
      </ul>
    <% end %>


<% elsif current_user.is_friends?(@user) %>

<%= render 'profile' %>

  <h1> Welcome to <%= @user.username %>'s Page </h1>
  <h2> Here are <%= @user.username %>'s posts: </h2>
  <%= render @posts %>

<% else %>

 <h1> You are not friends with <%= @user.username %> </h1>

  <%= render 'profile' %>

   <%= simple_form_for @friend_request do |f| %>
     <%= f.input :requestee_id, :as => :hidden, :input_html => { :value => @user.id } %>
     <%= f.button :submit %>
   <% end %>

 <p> Their posts are private </p>

<% end %>
